---

_You are currently looking at **version 1.0** of this notebook. To download notebooks and datafiles, as well as get help on Jupyter notebooks in the Coursera platform, visit the [Jupyter Notebook FAQ](https://www.coursera.org/learn/python-data-analysis/resources/0dhYG) course resource._

---

In [1]:
%load_ext nb_black

&lt;IPython.core.display.Javascript object&gt;

In [2]:
import pandas as pd
pd.Series?

&lt;IPython.core.display.Javascript object&gt;

Init signature:
pd.Series(
    data=None,
    index=None,
    dtype=None,
    name=None,
    copy=False,
    fastpath=False,
)
Docstring:
One-dimensional ndarray with axis labels (including time series).

Labels need not be unique but must be a hashable type. The object
supports both integer- and label-based indexing and provides a host of
methods for performing operations involving the index. Statistical
methods from ndarray have been overridden to automatically exclude
missing data (currently represented as NaN).

Operations between Series (+, -, /, *, **) align values based on their
associated index values-- they need not be the same length. The result
index will be the sorted union of the two indexes.

Parameters
----------
data : array-like, Iterable, dict, or scalar value
    Contains data stored in Series.

    .. versionchanged:: 0.23.0
       If data is a dict, argument order is maintained for Python 3.6
       and later.

index : array-like or Index (1d)
    Values must be hashable and have the same length as `data`.
    Non-unique index values are allowed. Will default to
    RangeIndex (0, 1, 2, ..., n) if not provided. If both a dict and index
    sequence are used, the index will override the keys found in the
    dict.
dtype : str, numpy.dtype, or ExtensionDtype, optional
    Data type for the output Series. If not specified, this will be
    inferred from `data`.
    See the :ref:`user guide &lt;basics.dtypes&gt;` for more usages.
name : str, optional
    The name to give to the Series.
copy : bool, default False
    Copy input data.
File:           ~/Code/Applied-Data-Science-with-Python-Specialization/.venv/lib/python3.8/site-packages/pandas/core/series.py
Type:           type
Subclasses:     SubclassedSeries

In [3]:
animals = ['Tiger', 'Bear', 'Moose']
pd.Series(animals)

0    Tiger
1     Bear
2    Moose
dtype: object

&lt;IPython.core.display.Javascript object&gt;

In [4]:
numbers = [1, 2, 3]
pd.Series(numbers)

0    1
1    2
2    3
dtype: int64

&lt;IPython.core.display.Javascript object&gt;

In [5]:
animals = ['Tiger', 'Bear', None]
pd.Series(animals)

0    Tiger
1     Bear
2     None
dtype: object

&lt;IPython.core.display.Javascript object&gt;

In [6]:
numbers = [1, 2, None]
pd.Series(numbers)

0    1.0
1    2.0
2    NaN
dtype: float64

&lt;IPython.core.display.Javascript object&gt;

In [7]:
import numpy as np
np.nan == None

False

&lt;IPython.core.display.Javascript object&gt;

In [8]:
np.nan == np.nan

False

&lt;IPython.core.display.Javascript object&gt;

In [9]:
np.isnan(np.nan)

True

&lt;IPython.core.display.Javascript object&gt;

In [10]:
sports = {'Archery': 'Bhutan',
          'Golf': 'Scotland',
          'Sumo': 'Japan',
          'Taekwondo': 'South Korea'}
s = pd.Series(sports)
s

Archery           Bhutan
Golf            Scotland
Sumo               Japan
Taekwondo    South Korea
dtype: object

&lt;IPython.core.display.Javascript object&gt;

In [11]:
s.index

Index([&#39;Archery&#39;, &#39;Golf&#39;, &#39;Sumo&#39;, &#39;Taekwondo&#39;], dtype=&#39;object&#39;)

&lt;IPython.core.display.Javascript object&gt;

In [12]:
s = pd.Series(['Tiger', 'Bear', 'Moose'], index=['India', 'America', 'Canada'])
s

India      Tiger
America     Bear
Canada     Moose
dtype: object

&lt;IPython.core.display.Javascript object&gt;

In [13]:
sports = {'Archery': 'Bhutan',
          'Golf': 'Scotland',
          'Sumo': 'Japan',
          'Taekwondo': 'South Korea'}
s = pd.Series(sports, index=['Golf', 'Sumo', 'Hockey'])
s

Golf      Scotland
Sumo         Japan
Hockey         NaN
dtype: object

&lt;IPython.core.display.Javascript object&gt;

# Querying a Series

In [14]:
sports = {'Archery': 'Bhutan',
          'Golf': 'Scotland',
          'Sumo': 'Japan',
          'Taekwondo': 'South Korea'}
s = pd.Series(sports)
s

Archery           Bhutan
Golf            Scotland
Sumo               Japan
Taekwondo    South Korea
dtype: object

&lt;IPython.core.display.Javascript object&gt;

In [15]:
s.iloc[3]

&#39;South Korea&#39;

&lt;IPython.core.display.Javascript object&gt;

In [16]:
s.loc['Golf']

&#39;Scotland&#39;

&lt;IPython.core.display.Javascript object&gt;

In [17]:
s[3]

&#39;South Korea&#39;

&lt;IPython.core.display.Javascript object&gt;

In [18]:
s['Golf']

&#39;Scotland&#39;

&lt;IPython.core.display.Javascript object&gt;

In [19]:
sports = {99: 'Bhutan',
          100: 'Scotland',
          101: 'Japan',
          102: 'South Korea'}
s = pd.Series(sports)

&lt;IPython.core.display.Javascript object&gt;

In [20]:
s[0] #This won't call s.iloc[0] as one might expect, it generates an error instead

KeyError: 0

In [21]:
s = pd.Series([100.00, 120.00, 101.00, 3.00])
s

0    100.0
1    120.0
2    101.0
3      3.0
dtype: float64

&lt;IPython.core.display.Javascript object&gt;

In [22]:
total = 0
for item in s:
    total+=item
print(total)

324.0

&lt;IPython.core.display.Javascript object&gt;

In [23]:
import numpy as np

total = np.sum(s)
print(total)

324.0

&lt;IPython.core.display.Javascript object&gt;

In [24]:
#this creates a big series of random numbers
s = pd.Series(np.random.randint(0,1000,10000))
s.head()

0    327
1    823
2    943
3    799
4    227
dtype: int64

&lt;IPython.core.display.Javascript object&gt;

In [25]:
len(s)

10000

&lt;IPython.core.display.Javascript object&gt;

In [26]:
%%timeit -n 100
summary = 0
for item in s:
    summary+=item

1.48 ms ± 16.3 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)

&lt;IPython.core.display.Javascript object&gt;

In [27]:
%%timeit -n 100
summary = np.sum(s)

73.9 µs ± 16 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)

&lt;IPython.core.display.Javascript object&gt;

In [28]:
s+=2 #adds two to each item in s using broadcasting
s.head()

0    329
1    825
2    945
3    801
4    229
dtype: int64

&lt;IPython.core.display.Javascript object&gt;

In [29]:
for label, value in s.iteritems():
    s.at[label] = value+2
s.head()

0    331
1    827
2    947
3    803
4    231
dtype: int64

&lt;IPython.core.display.Javascript object&gt;

In [30]:
%%timeit -n 10
s = pd.Series(np.random.randint(0,1000,10000))
for label, value in s.iteritems():
    s.loc[label]= value+2

481 ms ± 7.99 ms per loop (mean ± std. dev. of 7 runs, 10 loops each)

&lt;IPython.core.display.Javascript object&gt;

In [31]:
%%timeit -n 10
s = pd.Series(np.random.randint(0,1000,10000))
s+=2

399 µs ± 126 µs per loop (mean ± std. dev. of 7 runs, 10 loops each)

&lt;IPython.core.display.Javascript object&gt;

In [32]:
s = pd.Series([1, 2, 3])
s.loc['Animal'] = 'Bears'
s

0             1
1             2
2             3
Animal    Bears
dtype: object

&lt;IPython.core.display.Javascript object&gt;

In [33]:
original_sports = pd.Series({'Archery': 'Bhutan',
                             'Golf': 'Scotland',
                             'Sumo': 'Japan',
                             'Taekwondo': 'South Korea'})
cricket_loving_countries = pd.Series(['Australia',
                                      'Barbados',
                                      'Pakistan',
                                      'England'], 
                                   index=['Cricket',
                                          'Cricket',
                                          'Cricket',
                                          'Cricket'])
all_countries = original_sports.append(cricket_loving_countries)

&lt;IPython.core.display.Javascript object&gt;

In [34]:
original_sports

Archery           Bhutan
Golf            Scotland
Sumo               Japan
Taekwondo    South Korea
dtype: object

&lt;IPython.core.display.Javascript object&gt;

In [35]:
cricket_loving_countries

Cricket    Australia
Cricket     Barbados
Cricket     Pakistan
Cricket      England
dtype: object

&lt;IPython.core.display.Javascript object&gt;

In [36]:
all_countries

Archery           Bhutan
Golf            Scotland
Sumo               Japan
Taekwondo    South Korea
Cricket        Australia
Cricket         Barbados
Cricket         Pakistan
Cricket          England
dtype: object

&lt;IPython.core.display.Javascript object&gt;

In [37]:
all_countries.loc['Cricket']

Cricket    Australia
Cricket     Barbados
Cricket     Pakistan
Cricket      England
dtype: object

&lt;IPython.core.display.Javascript object&gt;

# The DataFrame Data Structure

In [38]:
import pandas as pd
purchase_1 = pd.Series({'Name': 'Chris',
                        'Item Purchased': 'Dog Food',
                        'Cost': 22.50})
purchase_2 = pd.Series({'Name': 'Kevyn',
                        'Item Purchased': 'Kitty Litter',
                        'Cost': 2.50})
purchase_3 = pd.Series({'Name': 'Vinod',
                        'Item Purchased': 'Bird Seed',
                        'Cost': 5.00})
df = pd.DataFrame([purchase_1, purchase_2, purchase_3], index=['Store 1', 'Store 1', 'Store 2'])
df.head()

          Name Item Purchased  Cost
Store 1  Chris       Dog Food  22.5
Store 1  Kevyn   Kitty Litter   2.5
Store 2  Vinod      Bird Seed   5.0

&lt;IPython.core.display.Javascript object&gt;

In [39]:
df.loc['Store 2']

Name                  Vinod
Item Purchased    Bird Seed
Cost                      5
Name: Store 2, dtype: object

&lt;IPython.core.display.Javascript object&gt;

In [40]:
type(df.loc['Store 2'])

pandas.core.series.Series

&lt;IPython.core.display.Javascript object&gt;

In [41]:
df.loc['Store 1']

          Name Item Purchased  Cost
Store 1  Chris       Dog Food  22.5
Store 1  Kevyn   Kitty Litter   2.5

&lt;IPython.core.display.Javascript object&gt;

In [42]:
df.loc['Store 1', 'Cost']

Store 1    22.5
Store 1     2.5
Name: Cost, dtype: float64

&lt;IPython.core.display.Javascript object&gt;

In [43]:
df.T

                 Store 1       Store 1    Store 2
Name               Chris         Kevyn      Vinod
Item Purchased  Dog Food  Kitty Litter  Bird Seed
Cost                22.5           2.5          5

&lt;IPython.core.display.Javascript object&gt;

In [44]:
df.T.loc['Cost']

Store 1    22.5
Store 1     2.5
Store 2       5
Name: Cost, dtype: object

&lt;IPython.core.display.Javascript object&gt;

In [45]:
df['Cost']

Store 1    22.5
Store 1     2.5
Store 2     5.0
Name: Cost, dtype: float64

&lt;IPython.core.display.Javascript object&gt;

In [46]:
df.loc['Store 1']['Cost']

Store 1    22.5
Store 1     2.5
Name: Cost, dtype: float64

&lt;IPython.core.display.Javascript object&gt;

In [47]:
df.loc[:,['Name', 'Cost']]

          Name  Cost
Store 1  Chris  22.5
Store 1  Kevyn   2.5
Store 2  Vinod   5.0

&lt;IPython.core.display.Javascript object&gt;

In [48]:
df.drop('Store 1')

          Name Item Purchased  Cost
Store 2  Vinod      Bird Seed   5.0

&lt;IPython.core.display.Javascript object&gt;

In [49]:
df

          Name Item Purchased  Cost
Store 1  Chris       Dog Food  22.5
Store 1  Kevyn   Kitty Litter   2.5
Store 2  Vinod      Bird Seed   5.0

&lt;IPython.core.display.Javascript object&gt;

In [50]:
copy_df = df.copy()
copy_df = copy_df.drop('Store 1')
copy_df

          Name Item Purchased  Cost
Store 2  Vinod      Bird Seed   5.0

&lt;IPython.core.display.Javascript object&gt;

In [51]:
copy_df.drop?

&lt;IPython.core.display.Javascript object&gt;

Signature:
copy_df.drop(
    labels=None,
    axis=0,
    index=None,
    columns=None,
    level=None,
    inplace=False,
    errors=&#39;raise&#39;,
)
Docstring:
Drop specified labels from rows or columns.

Remove rows or columns by specifying label names and corresponding
axis, or by specifying directly index or column names. When using a
multi-index, labels on different levels can be removed by specifying
the level.

Parameters
----------
labels : single label or list-like
    Index or column labels to drop.
axis : {0 or &#39;index&#39;, 1 or &#39;columns&#39;}, default 0
    Whether to drop labels from the index (0 or &#39;index&#39;) or
    columns (1 or &#39;columns&#39;).
index : single label or list-like
    Alternative to specifying axis (``labels, axis=0``
    is equivalent to ``index=labels``).
columns : single label or list-like
    Alternative to specifying axis (``labels, axis=1``
    is equivalent to ``columns=labels``).
level : int or level name, optional
    For MultiIndex, level from which the labels will be removed.
inplace : bool, default False
    If False, return a copy. Otherwise, do operation
    inplace and return None.
errors : {&#39;ignore&#39;, &#39;raise&#39;}, default &#39;raise&#39;
    If &#39;ignore&#39;, suppress error and only existing labels are
    dropped.

Returns
-------
DataFrame
    DataFrame without the removed index or column labels.

Raises
------
KeyError
    If any of the labels is not found in the selected axis.

See Also
--------
DataFrame.loc : Label-location based indexer for selection by label.
DataFrame.dropna : Return DataFrame with labels on given axis omitted
    where (all or any) data are missing.
DataFrame.drop_duplicates : Return DataFrame with duplicate rows
    removed, optionally only considering certain columns.
Series.drop : Return Series with specified index labels removed.

Examples
--------
&gt;&gt;&gt; df = pd.DataFrame(np.arange(12).reshape(3, 4),
...                   columns=[&#39;A&#39;, &#39;B&#39;, &#39;C&#39;, &#39;D&#39;])
&gt;&gt;&gt; df
   A  B   C   D
0  0  1   2   3
1  4  5   6   7
2  8  9  10  11

Drop columns

&gt;&gt;&gt; df.drop([&#39;B&#39;, &#39;C&#39;], axis=1)
   A   D
0  0   3
1  4   7
2  8  11

&gt;&gt;&gt; df.drop(columns=[&#39;B&#39;, &#39;C&#39;])
   A   D
0  0   3
1  4   7
2  8  11

Drop a row by index

&gt;&gt;&gt; df.drop([0, 1])
   A  B   C   D
2  8  9  10  11

Drop columns and/or rows of MultiIndex DataFrame

&gt;&gt;&gt; midx = pd.MultiIndex(levels=[[&#39;lama&#39;, &#39;cow&#39;, &#39;falcon&#39;],
...                              [&#39;speed&#39;, &#39;weight&#39;, &#39;length&#39;]],
...                      codes=[[0, 0, 0, 1, 1, 1, 2, 2, 2],
...                             [0, 1, 2, 0, 1, 2, 0, 1, 2]])
&gt;&gt;&gt; df = pd.DataFrame(index=midx, columns=[&#39;big&#39;, &#39;small&#39;],
...                   data=[[45, 30], [200, 100], [1.5, 1], [30, 20],
...                         [250, 150], [1.5, 0.8], [320, 250],
...                         [1, 0.8], [0.3, 0.2]])
&gt;&gt;&gt; df
                big     small
lama    speed   45.0    30.0
        weight  200.0   100.0
        length  1.5     1.0
cow     speed   30.0    20.0
        weight  250.0   150.0
        length  1.5     0.8
falcon  speed   320.0   250.0
        weight  1.0     0.8
        length  0.3     0.2

&gt;&gt;&gt; df.drop(index=&#39;cow&#39;, columns=&#39;small&#39;)
                big
lama    speed   45.0
        weight  200.0
        length  1.5
falcon  speed   320.0
        weight  1.0
        length  0.3

&gt;&gt;&gt; df.drop(index=&#39;length&#39;, level=1)
                big     small
lama    speed   45.0    30.0
        weight  200.0   100.0
cow     speed   30.0    20.0
        weight  250.0   150.0
falcon  speed   320.0   250.0
        weight  1.0     0.8
File:      ~/Code/Applied-Data-Science-with-Python-Specialization/.venv/lib/python3.8/site-packages/pandas/core/frame.py
Type:      method

In [52]:
del copy_df['Name']
copy_df

        Item Purchased  Cost
Store 2      Bird Seed   5.0

&lt;IPython.core.display.Javascript object&gt;

In [53]:
df['Location'] = None
df

          Name Item Purchased  Cost Location
Store 1  Chris       Dog Food  22.5     None
Store 1  Kevyn   Kitty Litter   2.5     None
Store 2  Vinod      Bird Seed   5.0     None

&lt;IPython.core.display.Javascript object&gt;

# Dataframe Indexing and Loading

In [ ]:
costs = df['Cost']
costs

In [ ]:
costs+=2
costs

In [ ]:
df

In [ ]:
!cat olympics.csv

In [ ]:
df = pd.read_csv('olympics.csv')
df.head()

In [ ]:
df = pd.read_csv('olympics.csv', index_col = 0, skiprows=1)
df.head()

In [ ]:
df.columns

In [ ]:
for col in df.columns:
    if col[:2]=='01':
        df.rename(columns={col:'Gold' + col[4:]}, inplace=True)
    if col[:2]=='02':
        df.rename(columns={col:'Silver' + col[4:]}, inplace=True)
    if col[:2]=='03':
        df.rename(columns={col:'Bronze' + col[4:]}, inplace=True)
    if col[:1]=='№':
        df.rename(columns={col:'#' + col[1:]}, inplace=True) 

df.head()

# Querying a DataFrame

In [ ]:
df['Gold'] > 0

In [ ]:
only_gold = df.where(df['Gold'] > 0)
only_gold.head()

In [ ]:
only_gold['Gold'].count()

In [ ]:
df['Gold'].count()

In [ ]:
only_gold = only_gold.dropna()
only_gold.head()

In [ ]:
only_gold = df[df['Gold'] > 0]
only_gold.head()

In [ ]:
len(df[(df['Gold'] > 0) | (df['Gold.1'] > 0)])

In [ ]:
df[(df['Gold.1'] > 0) & (df['Gold'] == 0)]

# Indexing Dataframes

In [ ]:
df.head()

In [ ]:
df['country'] = df.index
df = df.set_index('Gold')
df.head()

In [ ]:
df = df.reset_index()
df.head()

In [ ]:
df = pd.read_csv('census.csv')
df.head()

In [ ]:
df['SUMLEV'].unique()

In [ ]:
df=df[df['SUMLEV'] == 50]
df.head()

In [ ]:
columns_to_keep = ['STNAME',
                   'CTYNAME',
                   'BIRTHS2010',
                   'BIRTHS2011',
                   'BIRTHS2012',
                   'BIRTHS2013',
                   'BIRTHS2014',
                   'BIRTHS2015',
                   'POPESTIMATE2010',
                   'POPESTIMATE2011',
                   'POPESTIMATE2012',
                   'POPESTIMATE2013',
                   'POPESTIMATE2014',
                   'POPESTIMATE2015']
df = df[columns_to_keep]
df.head()

In [ ]:
df = df.set_index(['STNAME', 'CTYNAME'])
df.head()

In [ ]:
df.loc['Michigan', 'Washtenaw County']

In [ ]:
df.loc[ [('Michigan', 'Washtenaw County'),
         ('Michigan', 'Wayne County')] ]

# Missing values

In [ ]:
df = pd.read_csv('log.csv')
df

In [ ]:
df.fillna?

In [ ]:
df = df.set_index('time')
df = df.sort_index()
df

In [ ]:
df = df.reset_index()
df = df.set_index(['time', 'user'])
df

In [ ]:
df = df.fillna(method='ffill')
df.head()